/* Chart.css */
.chart-container {
    width: 80%;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .chart-container {
      width: 100%;
    }
  }
  